<!DOCTYPE html>
<html>
<head>
	<title>home</title>
</head>
<body>
	BENVENUTO NELLA HOME
	<form action="http://localhost:3000/logout" method="GET">
		<button>Log-Out</button>
	</form>
	<form action="http://localhost:3000/logoutFromFacebook" method="GET">
		<button>Log-Out-Facebook</button>
	</form>
	<form method="POST" action="http://localhost:3000/abbandona?_method=PUT">
		<input type="text" name="evento">
		<input type="text" name="squadra">
		<input type="submit" name="">
	</form>
	<form method="GET" action="http://localhost:3000/eventi">
		<button>mostra eventi</button>
	</form>
	<form method="GET" action="http://localhost:3000/search">
		<input type="text" name="giorno" placeholder="giorno">
		<input type="text" name="mese" placeholder="mese">
		<input type="text" name="anno" placeholder="anno">
		<input type="text" name="lat" placeholder="lat">
		<input type="text" name="long" placeholder="long">
		<input type="submit" name="">
	</form>
	<form action="http://localhost:3000/selezionaluogo" method="get" enctype="multipart/form-data">
	<table border = "1">
	<td align="right">Luogo:
	<td><input type="text" name="indirizzo" size="40" maxlength="40" placeholder="Inserisci indirizzo"> <input type="submit" value="Cerca strutture nelle vicinanze"><tr>
</table>
</form>
</body>
</html>